<div class="offcanvas offcanvas-end show text-bg-dark" tabindex="-1" id="offcanvasNavBar" aria-labelledby="offcanvasNavBarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">HuitTech</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="navbarSupportedContent" >
            <ul id="ListRouting" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-right: 10px;">
                <a data-bs-dismiss="offcanvas" class="nav-link active" aria-current="page" [routerLink]="['home']"><i class="bi bi-house-door"></i> Inicio</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                <a data-bs-dismiss="offcanvas" class="nav-link" [routerLink]="['about']"><i class="bi bi-incognito"></i> Sobre nosotros</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                  <a data-bs-dismiss="offcanvas" class="nav-link" [routerLink]="['OurTeam']"><i class="bi bi-people"></i> Nuestro equipo</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                  <a data-bs-dismiss="offcanvas" class="nav-link" [routerLink]="['Pioneers']"><i class="bi bi-sunset"></i> Pioneros</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                  <a data-bs-dismiss="offcanvas"class="nav-link" [routerLink]="['news']"><i class="bi bi-receipt"></i> Noticias</a>
              </li>
            </ul>
          </div>
      
    </div>
</div>