<div style="width:100%;height: 420vh; background-color: #000000; display: flex; flex-direction: column;;">
   <div style="width:100%;height: 120vh; display: flex; flex-direction: column;">
       <div id="About-us-1" style="padding-top: 50px;margin-top: 4%;width: 100%;height: 95%; display:flex; align-items: center;justify-content: center;flex-direction: column;"> 
          <h2 class="font-text" style="font-size: 40px; color:rgb(255, 255, 255) ;">Bienvenidos a la</h2>
          <h1 class="font-text" style="font-size: 100px; color:rgb(252, 15, 161)">Comunidad Huit's Tech</h1>
       </div>
   </div>
   <div style="width:100%;height: 100vh">
      <div  id="About-us-2" style="padding-left: 4%;width: 100%;height: 57%; display:flex; align-items: center;justify-content: center;flex-direction: column; background-color: rgb(252, 15, 161,0.65);"> 
         <p class="font-text-2" style="font-size:18px; color:rgb(197, 232, 233);padding-right: 3%;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsum libero ipsa placeat laudantium voluptatem ut modi mollitia sint eveniet adipisci possimus earum consectetur ducimus, id dignissimos. Aspernatur, possimus commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus consequuntur, ea inventore sapiente blanditiis provident quaerat? Vel perspiciatis, quod dolor dolore praesentium illo asperiores voluptate error, esse ratione placeat? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus perferendis consequuntur ex, veritatis sunt deserunt cum provident eligendi nesciunt ipsum architecto consequatur excepturi incidunt recusandae minus ipsa et explicabo! Laboriosam?</p>
      </div>
      <div style="width: 100%;height: 35%; display:flex; align-items: center;justify-content: center;flex-direction: column;">
        <h1 class="font-text" style="font-size: 40px; color:rgb(255, 255, 255) ;">Proyectos</h1>
        <h1 class="font-text" style="font-size: 40px; color:rgb(255, 255, 255) ;">...</h1>  
    </div>
   </div>

   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="width:100%;height: 90vh">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active" >
          <div style="width: 100%;height: 90vh; display: flex; flex-direction: row; justify-content: center;">
            <div class="card mb-3 " style="width: 60%; height: 80%;">
                <div class="row g-0" style="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
              </div>
            </div>
          
      </div>
      <div class="carousel-item" >
        <div style="width: 100%;height: 90vh; ">
        </div>
      </div>
      <div class="carousel-item" >
        <div style="width: 100%;height: 90vh; ">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
   <div style="width:100%;height: 100vh">
   </div>
</div>
