/*TEXT STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Silkscreen&display=swap');

#HomeFirstImage{
    
    width:100%;
    height: 100vh;
    background-image: url("src/assets/Imag/HomeImag.png");  
    border-bottom: 2px solid rgb(10, 9, 12);
}
.TextAnimateList{
    margin-bottom: 7px;
    color: rgb(78, 97, 97);
    text-shadow: rgb(10, 9, 12);
    font-family: 'Patua One', cursive;
    padding-left: 10pt;
}
.TextAnimateContainer{

    line-height: 50px;
    height: 55px;
    position:absolute;
    font-size: 70px;
    top:0;
    bottom: 0;
    margin:auto;
    margin-top: 50vh;
    text-align: left;
    overflow: hidden;
    margin-left: 0px !important;
}
.ListHome{
    list-style: none;
    animation: cambiar 6.6s infinite;
}


@keyframes cambiar{
    0%{margin-top:0;}
    20%{margin-top:0;}

    25%{margin-top: -55px;}
    50%{margin-top: -55px;}

    55%{margin-top: -110px;}
    80%{margin-top: -110px;}

    85%{margin-top: -165px;}
    95%{margin-top: -165px;}

    100%{margin-top: 0px;}
}

/*SUBSECTION 1 HOME*/
.SubSeption1Home-Title{
    /* border-left: 2px solid rgb(10, 9, 12); */
}
.SubSeption1Home-Title h1{
    font-size: 65px;
    font-family: 'Patua One', cursive;
    color:aliceblue
}

.SubSeption1Home-Content p{
   font-size: 22px;
}

/* ---------------------------------------------------
    ANIMATION SCROLL
  ----------------------------------------------------- */

  .icon-scroll,
  .icon-scroll:before {
    position: absolute;
    left: 50%;
    top:180%
  }
  
  .icon-scroll {
    z-index: 5;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    -khtml-border-radius: 1rem;
    margin-bottom: 3rem !important;
  }
  
  .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    border-radius: 6rem;
    -khtml-border-radius: 6rem;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
  }
  
  @keyframes scroll {
    0% {
      opacity: 1
    }
  
    100% {
      opacity: 0;
      transform: translateY(26px)
    }
  }
