<nav class="navbar navbar-dark bg-dark navbar-expand" style="background-color: black !important;" >
    <div class="container-fluid" style="background-color: black;">
        <a class="navbar-brand" href="#" [routerLink]="['home']">HuitTech</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0.6;">
          <ul id="ListRouting" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-right: 10px;">
              <a class="nav-link" aria-current="page" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
              <a class="nav-link" [routerLink]="['about']">Sobre nosotros</a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" [routerLink]="['OurTeam']">Nuestro equipo</a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" [routerLink]="['Pioneers']">Pioneros</a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" [routerLink]="['news']">Noticias</a>
            </li>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <button  type="button" class="CustomButtonNavBar"  style="background: black;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavBar" aria-controls="offcanvasNavBar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
  </nav>
  <app-nav-off-canvas></app-nav-off-canvas>
